/* ---------------------------for light box css---------------------*/
#show_pdffile embed{ width:100%;}
#fade { /*--Transparent background layer--*/
    display: none; /*--hidden by default--*/
    background:#000;opacity:.8;position: fixed; left: 0; top: 0;width: 100%; height: 100%;z-index:100;}


.popup_block{display: none;background: #fff;padding: 20px;border: 20px solid #ddd;	float: left;font-size: 1.2em;position: fixed;
             top: 50%; left: 50%;z-index:101;-webkit-box-shadow: 0px 0px 20px #000;-moz-box-shadow: 0px 0px 20px #000;box-shadow: 0px 0px 20px #000;
             -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
img.btn_close {	float: right;margin: -55px -55px 0 0;}
.poplight { font-size:12px; font-weight:bold;height:25px;margin:0px;padding:2px 10px 2px 10px; cursor:pointer; border:1px solid #CCCCCC;
            -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; background:#CCCCCC; color:#000000; text-decoration:none;}
.poplight:hover{ color:#FFFFFF;background:#999999; text-decoration:none;}
.attachmentlist{ color:#000000; font-size:12px; list-style:square; line-height:25px; margin:0px; padding:0px;}
.attachmentlist{ color:#000000; font-size:12px; list-style:square; line-height:25px; margin:0px; padding:3px;}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {position: absolute;}
*html .popup_block {position: absolute;}
#ajax_loading { display: none; font-size: 12px; font-family: Tahoma; }
#show_message{font: normal 11.5px verdana; color:#D55601; line-height:15px; height:20px;}
#gifloading{width:32px; height:32px;}
.pageloading{ background:url(../images/loader-bar.gif) no-repeat; width:32px; height:32px;}
a {
    cursor: pointer;
}