#cs_tag{
    border: 1px solid #90969D;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px #CCCCCC inset;
    padding: 3px !important;
    margin: 0 0 13px;
    overflow: visible;
    position: relative;
    width: 10.9cm;
    height: 28px;
    list-style: none outside none;
}
#cs_tag li.input,#cs_tag_input li.input{
    border: 1px solid #FFFFFF;
    vertical-align: top;
}
#cs_tag li ,#cs_tag_input li{
    display: inline-block;
    height: 15px;
    list-style: none outside none;
    margin: 2px 0 2px 4px;
    overflow: hidden;
    padding: 3px 8px 4px 6px;
    vertical-align: top;
    background: none repeat scroll 0 0 transparent;
}
#cs_tag input,#cs_tag_input input{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-family: Tahoma;
    font-size: 11px;
    outline: medium none;
    padding: 0;
    position: relative;
    top: -1px;
    width: 100px;
} 
#cs_tag li,#cs_tag_input li{
    list-style-type: none;
    float: left;
    position: relative;
}
#cs_tag li.item{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #E6F2FC 0pt, #D2E8FA 100%) repeat scroll 0 0 transparent;
    border-color: #AED1EB #88B5D2 #88B5D2 #9BC1DC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #EFF7FD inset;
    color: #326283;
    cursor: default;
    font: 11px "Tahoma",sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    white-space: nowrap;
}
#cs_tag li span.close{
    -moz-user-select: none;
    color: #314E5F;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 7px;
}

#cs_tag li.item:hover {
    background: -moz-linear-gradient(center top , #D5EAFC 0pt, #AAD1F2 100%) repeat scroll 0 0 transparent;
    border-color: #9FC3DE #8EB2CB #6C93AE #6C93AE;
    color: #234A65;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
#cs_tag li.item.selected {
    background: -moz-linear-gradient(center top , #5497EF 0pt, #2068C9 100%) repeat scroll 0 0 transparent;
    border-color: #216ACA #216ACA #0B274D;
    box-shadow: 0 1px 0 #71BAF4 inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #2654D9;
}
#cs_tag li.item.draggable {
    background: -moz-linear-gradient(center top , #5497EF 0pt, #2068C9 100%) repeat scroll 0 0 transparent;
    border-color: #216ACA #216ACA #0B274D;
    box-shadow: 0 2px 4px rgba(8, 40, 140, 0.4), 0 1px 0 #71BAF4 inset;
    color: #FFFFFF;
    opacity: 0.8;
    padding: 3px 8px 4px 6px;
    text-shadow: 0 -1px 0 #2654D9;
}
#cs_tag li.loader{
    float: right;
    display: none;
}
#cs_tag li.loader{
    display: block;
}

input.autocompleter-loading
{
    background-image:url(/images/ajax-loader.gif);
    background-repeat:no-repeat;
    background-position:right 50%;
}
ul#cs_tag ul{
    float: left;
    margin: 0px;
    padding: 0px;
} 