/* reset code */
html{color:#000;background:#ccc}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
del,ins{text-decoration:none;}
#buttons {height:50px;}

/* html5 code */
header, section, footer,aside, nav, article, figure { display: block; }
figure { margin:0; padding:0; } /* needed for IE9 */

/* GENERAL HTML
------------------------------*/
html { background-color:#FFF; center top repeat-x;overflow: -moz-scrollbars-vertical; overflow-x: auto;overflow-y:scroll; }
html, body {height: 100%;}
body, form, button { color: #333; font:12px arial,helvetica,clean,sans-serif;}

section.top { display:block; }

header.site { height:155px; }
header.site figure.logo { display:inline-block; width:600px; }
header.site figure.logo a { display:block; width:300px; vertical-align:middle; margin-top:10px; }
header.site figure.logo em { background:#f3e60f; color:#333; display:inline-block; padding:5px 15px; font:9px verdana,georgia; -moz-border-radius: 3px; border-radius: 3px; margin:-10px 0 0 93px; -moz-box-shadow:inset 1px 1px 2px #666; -webkit-box-shadow:inset 1px 1px 2px #666;  box-shadow:inset 1px 1px 2px #666;-moz-border-radius-topleft:23px; -moz-border-radius-bottomright:23px;border-top-left-radius:23px;border-bottom-right-radius:23px;text-shadow:0px 1px 0px rgba(255,255,255,0.8);}

header.site nav { position:absolute; top:106px;display:inline-block; width:960px; }
header.site nav ul { margin:0; }
header.site nav li { display: inline-block; margin:0; }
header.site nav li a {color:#f7f7f7; border:2px solid transparent;display:inline-block; font-weight:bold; padding:10px 10px; text-decoration:none; vertical-align:middle; font-size:14px; text-shadow:0px -1px 0px rgba(000,000,000,0.2); -moz-border-radius: 5px; border-radius: 5px;}
header.site nav li a.active { background:#79981D;background:rgba(135, 169, 33,0.45); border:2px solid #87A921;-moz-box-shadow:inset 0 0 12px #555; -webkit-box-shadow:inset 0 0 12px #555;  box-shadow:inset 0 0 12px #555;}
header.site nav li a:hover { color:#fff;text-shadow: 1px 1px 16px #C0E528; }

header.site nav li.signin { position:absolute; display:inline; left:600px;  }
header.site nav li.signin a { width:360px;padding:0; }
header.site nav li.signin figure { display:inline-block;width:45px; height:30px; margin-right:5px; border:2px solid #87A921; -moz-box-shadow:1px 1px 12px #C0E528; -webkit-box-shadow:1px 1px 12px #C0E528; box-shadow:1px 1px 12px #C0E528; }
header.site nav li.signin a:hover figure { border:2px solid #91B121; }
header.site nav li.signin.user a figure { display:inline-block; vertical-align:middle; height:30px; width:30px; border:2px solid #ADCF25;-moz-box-shadow:1px 1px 12px #C0E528; -webkit-box-shadow:1px 1px 12px #C0E528; box-shadow:1px 1px 12px #C0E528; }
header.site nav li.signin a:hover figure { -moz-box-shadow:1px 1px 12px #f7f7f7; -webkit-box-shadow:1px 1px 12px #f7f7f7; box-shadow:1px 1px 12px #f7f7f7;  }

header.site nav li.signin.user ul { background:#fff; border:1px solid #bbb; border-top:0; display:none; margin-top:7px;position:relative;z-index:1;
-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;
-moz-box-shadow:1px 3px 8px #999; -webkit-box-shadow:1px 3px 8px #999; box-shadow:1px 3px 8px #999;
}
header.site nav li.signin.user ul li { display:block; border-bottom:1px dotted #ccc; }
header.site nav li.signin.user ul li.signout { border-bottom:0; }
header.site nav li.signin.user ul li a { display:block; color:#333; padding:5px 10px; text-shadow:none; border-radius:0;}
header.site nav li.signin.user ul li a:hover { background:#bce127; color:#fff;}

header.site .search { display:inline-block; vertical-align:top; margin-top:40px; }
header.site .search #q { width:272px;border:1px solid #87A921; }
header.site .search #q:focus { -moz-box-shadow:1px 1px 12px #f7f7f7; -webkit-box-shadow:1px 1px 12px #f7f7f7; box-shadow:1px 1px 12px #f7f7f7; }
header.site .search button { padding:6px; margin:0; }

#wrapper { display:block;width: 960px; margin:0 auto;min-height: 100%;overflow:auto; xpadding-left:10px; xpadding-right:10px; }
#content { clear:both;display:block; float:left; padding:10px 0 180px 0; width:100%;word-wrap: break-word; }
#colmain { display:block; float:left; width:750px; padding-right:30px; word-wrap: break-word; }

#colmain.photocol { display:block; float:left; width:650px; padding-right:30px; word-wrap: break-word; }

#colfull { float:left; width:960px; }
aside { float:left; width:360px;word-wrap: break-word;}
aside.photocol { width:270px; }

.group { clear:both; margin-bottom:20px; }
aside section.group h1 a { color:#555; text-decoration:none; }
aside section.group h1 a:hover { color: #0063e2; }
aside section.group.about h1 { display:inline-block;vertical-align:top; margin-top:2px; }
aside section.group.about img.country { display:inline-block;vertical-align:top; margin-right:5px; width:24px; height:24px; }

footer.site {background: url(../img/bg_header.png) 0px -100px repeat-x;position: relative;margin-top: -50px;height: 50px;clear:both;min-width:980px; } 
footer.site figure.mascot { background: url(../img/mascot.png) top center no-repeat; display:block; width:560px; height:148px; position:absolute; bottom:20px; left:50%; margin-left:-280px; } 
footer.site p { position:absolute;left:50%;margin: 0 0 0 -480px;color:#f7f7f7;text-align:right;display:block;width:960px; }
footer.site p span { display:inline-block; vertical-align:middle; font-weight:bold; margin-top:17px; margin-right:5px; }

footer.site p a.donate { background:#f60 url(../img/bg_skin.png); color:#fff; display:inline-block; padding:5px 20px; font-weight:bold; text-decoration:none; border-radius: 0px;-moz-border-radius: 0px;	border-radius: 0px; -moz-border-radius-topleft:23px; -moz-border-radius-bottomright:23px; border-top-left-radius:23px;border-bottom-right-radius:23px; float:left; margin-top:12px; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.3); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.3); box-shadow:	0px 1px 3px rgba(000,000,000,0.3); margin-left:20px;}
footer.site p a.donate:hover { background:#f70 url(../img/bg_skin.png); -moz-box-shadow:1px 1px 20px #caf229;  -webkit-box-shadow:1px 1px 20px #caf229;box-shadow:1px 1px 20px #caf229;}
footer.site a.follow { float:right;background:none; color:#333; display:inline-block; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.3); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.3);box-shadow:	0px 1px 3px rgba(000,000,000,0.3); margin-left:5px; margin-top:12px;}
footer.site a.follow em { margin:0;padding:0;}
footer.site a.follow:hover { -moz-box-shadow:1px 1px 20px #caf229; -webkit-box-shadow:1px 1px 20px #caf229;box-shadow:1px 1px 20px #caf229; }

/*body:before {content:"";height:100%;float:left;width:0;margin-top:-32767px;/}*/

h1,h2 { font-weight:bold; margin-bottom:10px; }
h1 + small, h2 + small { display:block; margin:-10px 0 15px 0; }
h1 { color:#555; font-size:16px; }
h2 { font-size:14px; }
h1 a { color:#555; text-decoration:none;}
h1 a:hover { color:#0063e2; }
.amp {font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;font-style: italic;xfont-size: 20px;color:#87A921; font-weight:normal;}
.love {font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;font-size: 20px;color:red; font-weight:normal; vertical-align:middle;}
hr { border:1px dotted #ccc;margin:0;padding:0; height:1px;}

p, p + form { padding-bottom:10px; }
ul.list, ol.list { padding:0 0 10px 0;}
ul.list li, ol.list li { list-style-type:square; margin-left:15px; padding:0 0 10px 0px;}
strong { font-weight:bold; }
mark { background:none; color:#77961D; }
mark.doli { color:#f00; }
small { color:#999; font-size:11px; }
small mark { background:#DAFC2F; color:#333; -moz-border-radius:3px; border-radius:3px; }
small .button { margin-right:5px; }

.progress { background: #fff; border:1px solid #ccc; display:inline-block; -moz-border-radius: 3px; border-radius: 3px; width:100%; margin:0 10px 0 0; vertical-align:middle; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.1); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.1); box-shadow:	0px 1px 3px rgba(000,000,000,0.1);}
.progress span { background: url(/media/images/sprite_004.png) 0 -527px; border:0;border-right:1px solid #ccc; display:block; height:16px; vertical-align:middle; padding:0;-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.1); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.1); box-shadow:	0px 1px 3px rgba(000,000,000,0.1); }

a { color: #0063e2; text-decoration:underline; outline:0; }
a:hover { text-decoration:none; }
a.help { border-bottom:1px dotted #ccc; cursor:help; }
a.disabled { cursor:default; }
a.cancel { font-weight:bold; font-size:14px; line-height:30px; vertical-align:middle; }
a.button, form button { background:#fff ; border:1px solid #ccc; font-weight:bold;line-height:16px;cursor:pointer; display:inline-block; text-decoration:none; vertical-align:middle; -moz-border-radius: 5px;border-radius: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;xcolor: #fff;padding: 8px 10px;-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.3),inset 0px 0px 4px rgba(255,255,255,0.8); -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.3),inset 0px 0px 4px rgba(255,255,255,0.8); box-shadow: 0px 1px 3px rgba(000,000,000,0.3), inset 0px 0px 4px rgba(255,255,255,0.8); margin-right:5px; }
form button[disabled] { background:#666; color:#fff; border:1px solid #666; }
form button.search { background:#7ca308; border:1px solid #87A921; color:#fff;text-shadow:0px -1px 0px rgba(000,000,000,0.2); }
form button[type="cancel"] { background:#999; border:1px solid #999; } 
form button[type="cancel"]:hover { background:#888; border:1px solid #888; } 
a.button:hover { background:#f7f7f7; }
a.button.more { display:block; text-align:center; clear:both; }
a.button figure { display:inline-block;vertical-align:middle; margin-right:3px;}
a.button.hili, form button { background:#91BD09; border:1px solid #87A921; color:#fff;text-shadow:0px -1px 0px rgba(000,000,000,0.2); }
a.button.hili:hover, form button:hover, form button:active, form button:focus { background:#87A921; border:1px solid #87A921; color:#fff; }
a.button.doli { background:#c00; border:1px solid #900; color:#fff;text-shadow:0px -1px 0px rgba(000,000,000,0.2); }
a.button.doli:hover { background:red; border:1px solid #c00; }
a.button.untagged, a.button.tagbatch,a.button.helpus { background:#f90; color:#fff; border:1px solid #f80; text-shadow:0px -1px 0px rgba(000,000,000,0.2); }
a.button.untagged:hover, a.button.tagbatch:hover,a.button.helpus:hover { background:#f60; border:1px solid #f50; }
a.button.slideshow { background:#555; color:#fff; border:1px solid #555; padding:4px 6px; vertical-align:top; margin-right:5px;}
a.button.slideshow:hover { background:#444; border:1px solid #444;}
a.button.social { font-weight:bold; font-size:14px; text-align:center; padding:5px 10px 5px 5px; margin:0 5px 5px 0; text-shadow:0px -1px 0px rgba(000,000,000,0.2); }
a.button.social em { vertical-align:middle; margin-right:5px; }
a.button.social.fb { background:#627AAC; border:1px solid #3B5998; color:#fff; }
a.button.social.fb:hover { background:#3B5998; }
a.button.social.tw { background:#8fd3d9; border:1px solid #5ca7af; color:#fff; }
a.button.social.tw:hover { background:#5ca7af; }
a.button.social.jd { background:#91BD09; border:1px solid #87A921; color:#fff; }
a.button.social.jd:hover { background:#87A921; border:1px solid #87A921; }
a.button.social.gl { background:#fff; border:1px solid #f7f7f; color:#333; text-shadow:none; }
a.button.social.gl:hover { background:#f7f7f7; border:1px solid #bbb; }

a.button.social.gravatar { background:#0170ca; color:#fff; vertical-align:middle;} 
a.button.social.gravatar:hover { background:#348cd4;} 
a.button.social.gravatar img { vertical-align:middle;} 

a.mega { background:#f7f7f7; text-decoration:none;  display:block; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#fff');background: -moz-linear-gradient(top,#e5e5e5 0%,#fff);background: -webkit-gradient(linear, left top, left bottom, from(#eee),to(#fff));border:1px solid #ccc; height:auto; padding:10px; margin:10px 0 20px 0; -moz-border-radius: 10px; border-radius: 10px; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.3); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.3); box-shadow:	0px 1px 3px rgba(000,000,000,0.3);  width:400px;}
a.mega img { display:inline-block; }
a.mega .description { display:inline-block; vertical-align:top; text-align:left; padding:0 10px 0 20px;}
a.mega .description em { color:#333; font-size:14px; font-weight:bold; display:block; margin-bottom:5px; }
a.mega .description small { color:#666; font-size:12px; }
a.mega:hover { background:#87A921;-moz-box-shadow:3px 3px 8px rgba(000,000,000,0.2);-webkit-box-shadow:3px 3px 8px rgba(000,000,000,0.2);box-shadow:	3px 3px 8px rgba(000,000,000,0.2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79981D', endColorstr='#BCDE28');background: -moz-linear-gradient(top,#79981D 0%,#BCDE28);background: -webkit-gradient(linear, left top, left bottom, from(#79981D),to(#BCDE28));color:#fff;border:1px solid #87A921;}
a.mega:hover .description em { color:#fff; }
a.mega:hover .description small { color:#f7f7f7; }
a.tagthis { text-decoration:none; font-size:12px;}
a.tagthis:hover { text-decoration:underline;}
a.user { background:#fff; -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.2); -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.2);box-shadow: 0px 1px 3px rgba(000,000,000,0.2);border:1px solid #ccc; color: #0063e2; display:inline-block; vertical-align:middle; -moz-border-radius:3px; border-radius:3px; text-decoration:none; padding:2px; margin:0; }
a.user:hover { border:1px solid #333; }
a.user img { display:inline-block; margin:0; padding:0; vertical-align:top; }
a.user em {color:#333; padding:0 4px; display:inline-block; vertical-align:top; margin-top:2px; word-wrap: break-word; }
a.user em mark { color:#0063e2; padding:0; margin:0; }
a.user em strong { background:#eee; color:#666; font-size:11px; font-weight:normal; display:inline-block; padding:2px 4px; vertical-align:top; margin:-1px -3px 0 5px; border-left:2px solid #ddd;}
a.user small, a.user + small { display:inline-block; margin-top:3px; vertical-align:top; }
a.help { cursor:help; color:#333; border-bottom:1px dotted #ccc; text-decoration:none;}
a.vote { display:inline-block; vertical-align:top; padding:5px; margin-right:10px;}
a.vote em { display:inline-block; padding:0 6px; margin-left:3px; background:#87A921;border:1px solid #87A921; font-size:11px; -moz-border-radius: 3px; border-radius: 3px; color:#D0E628; }
a.vote:hover em { background:#728f1d;  }
a.vote.disabled, a.vote.disabled:hover { background:#999; border:1px solid #999; cursor:default; }
a.vote.disabled em,a.vote.disabled:hover em { background:#666; border:1px solid #555; color:#bbb; }

form { clear:both; margin:0; padding:0; }
form h1 { margin-bottom:20px; }
form fieldset { float: left; margin-bottom: 20px; width: 120px;}
form fieldset label { color:#333; display:block; margin-bottom:5px; line-height:14px; font-weight:bold; font-size:14px; }
form label.error { color:#f00; display:inline-block; font-size:12px; font-weight:bold; margin:0;  padding:0px 5px 0px 5px; vertical-align:middle; }
form label.error small { font-size:12px; }
form label.error strong { font-size:20px; vertical-align:middle; margin-top:10px; }
form fieldset small { display:block; margin-bottom:5px; }
form input,form textarea { background:#f7f7f7; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f7f7f7');background: -moz-linear-gradient(top,#eeeeee 0%,	#f7f7f7 25%,#f7f7f7);background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee),	color-stop(0.25, #f7f7f7),to(#f7f7f7));border:1px solid #ccc; -moz-border-radius: 3px; padding:7px 6px 7px 6px; vertical-align:middle; border-radius: 3px; }
form input.error { border:1px solid #f00;background:#ffcccc; }
form input:focus, form textarea:focus, form select:focus { background:#eee; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#f7f7f7');background: -moz-linear-gradient(top,#dddddd 0%,#eeeeee 25%,#f7f7f7);background: -webkit-gradient(linear, left top, left bottom, from(#dddddd),	color-stop(0.25, #eeeeee),to(#f7f7f7));color:#333; border:1px solid #bbb; outline: 0 none;  }
form input.error:focus { border:1px solid #f00; }
form input[readonly], form textarea[readonly] { background: #dcdcdc; color: #666; cursor: default; } 
form input[readonly]:focus { border:1px solid #ddd; } 
form input::-webkit-input-placeholder, form input::-moz-input-placeholder { color:#666; font-style:italic; }
form input:-moz-placeholder { color:#666; font-style:italic; }
form textarea { overflow:auto; font:12px arial,helvetica,clean,sans-serif; }
form select { background:#f7f7f7; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f7f7f7');background: -moz-linear-gradient(top,#eeeeee 0%,#f7f7f7);background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee),to(#f7f7f7)); border:1px solid #ccc; font-size:12px; height:28px; padding:5px 10px 5px 5px; margin-right:10px; -moz-border-radius: 3px; border-radius: 3px; }
form input[type="checkbox"], form input[type="radio"] { background:#fff; }
form fieldset ol li { margin:0 0 5px 0; }
form fieldset ol li input { background:none; border:0; display:inline; vertical-align:middle; margin-right:5px; }
form fieldset ol li input:focus { border:0; }
form fieldset ol li label { display:inline; font-size:12px; font-weight:normal; vertical-align:middle; }
form fieldset ol li label img { display:inline-block; vertical-align:middle; margin-right:5px; }
form fieldset input.suggest { width:300px; }
form fieldset .tagbox ol  { position:absolute; background:#F7F7F7; }
form fieldset .tagbox ol li { width:312px; border-left:1px solid #ccc; border-right:1px solid #ccc; list-style-type:none; margin:0; }
form fieldset .tagbox ol li em { color:#0063dc; font-weight: bold; font-style: normal; }
form fieldset .tagbox ol li a { text-decoration:none; color:#333; display:block; padding:5px; border-bottom:1px solid #ccc; }
form fieldset .tagbox ol li a:hover, .hl { background:#ccc; }
form fieldset.uploader input, form fieldset.uploader em, form fieldset.uploader button { display:inline-block; vertical-align:top; }
form fieldset.uploader em { display:inline-block; font-size:14px; font-weight:bold; margin:10px 5px 0 5px; vertical-align:top; }
form fieldset.uploader button { margin-top:2px; }
form.donate input { background:none; border:0; }

form table.options { border:0; margin:10px 0 20px 0; }
form table.options thead { background:#eee; font-weight:bold; }
form table.options td { padding:5px; }

div.editable:hover { background:#FFFFD3; }
div.editable .inlineform { display:block; }
div.editable .inlineform:hover { background:#fff; }
div.editable .error { color:#f00; }

div.edit_title .inlineform input { display:inline-block; width:90%;color:#77961D; font-weight:bold; padding:0;background:none; border:0;}
div.edit_title .inlineform button { display:inline-block; float:right; padding:2px;}
h1 div.edit_title .inlineform input { font-size:16px;}
h2 div.edit_title .inlineform input { font-size:14px;}
h1 div.edit_title .inlineform:after, h2 div.edit_title .inlineform:after{content:"[Enter] to save. [Esc] to cancel.";display:block; color:#999; margin-top:5px; font-size:11px;}

div.edit_description .inlineform textarea { display:block; width:90%; margin:0 0 5px 0;}
div.edit_description .inlineform button { margin:0 5px 15px 0; padding:5px;}
div.edit_description { margin:10px 0 15px 0; }
section.photos div.edit_description { margin:0; font-size:11px; width:83%;}
div.editable.empty { color:#999; font-style:italic; }

table { border-top:1px dotted #ccc; border-collapse:collapse; }
table td, table th { border-bottom:1px dotted #ccc; padding:4px 4px 4px 7px; vertical-align:top; font-size:11px; }
table th { background: #f7f7f7; font-weight:bold; }
aside table { margin-bottom:10px; }

table.plain { border:0; }
table.plain td { border:0; font-size:12px; }

section header { background: url(../img/bg_skin.png); border:1px solid #ccc; height:auto; padding:10px; margin:0 0 15px 0; -moz-border-radius: 3px; border-radius: 3px; }
section header h1 { display:inline-block; margin:0 5px 0 0; }
section header h1 a { background:#fff;background: -moz-linear-gradient(top,#eeeeee 0%,#f7f7f7 25%,#ffffff);background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee),color-stop(0.25, #f7f7f7),to(#ffffff));border:1px solid #ccc; display:inline-block; padding:5px 7px; font-weight:bold; -moz-border-radius: 3px; border-radius: 3px; text-decoration:none; color:#333; vertical-align:middle;-moz-box-shadow:0px 1px 1px rgba(000,000,000,0.3);-webkit-box-shadow:0px 1px 1px rgba(000,000,000,0.3);box-shadow:	0px 1px 1px rgba(000,000,000,0.3);}
section header h1 a:hover { border: 1px solid #333; }
section header.search { position:relative; }
section header.search form input { background:#fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ffffff');background:-moz-linear-gradient(top,#f7f7f7 0%,	#fff 25%,#fff);background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),color-stop(0.25, #fff),to(#fff)); }
section header.search .tagbox { display:inline-block; vertical-align:middle; height:33px; }
section header.search p { display:inline-block; position:absolute; top:20px; left:600px; }
section header .actions { float:right; vertical-align:top; }
section header.user figure { display:inline-block; vertical-align:middle; margin-right:20px; }
section header.user figure img.photo { background:#fff; padding:3px; border:1px solid #ccc; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.3);-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.3);box-shadow:	0px 1px 3px rgba(000,000,000,0.3); -moz-border-radius: 3px; border-radius: 3px; display:block;}
section header.user figure a:hover img.photo, section header.user .reputation:hover {-moz-box-shadow:3px 3px 8px rgba(000,000,000,0.2); -webkit-box-shadow:3px 3px 8px rgba(000,000,000,0.2); box-shadow:	3px 3px 8px rgba(000,000,000,0.2); }
section header.user figure a.editavatar {display:inline-block; text-decoration:none; margin:5px 0 0 0; padding:6px 13px;}

section header.user .description { display:inline-block; vertical-align:top; max-width:700px; }
section header.user .description h1 { display:block; margin-bottom:5px;}
section header.user .description em { display:block; margin-bottom:10px;}
section header.user .description em.icon { display:inline-block; margin-bottom:0px;}
section header.user .reputation { display:inline-block; vertical-align:top; float:right; background:#fff url(../img/bg_skin.png); padding:3px; border:1px solid #aaa; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.4); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.4); box-shadow:	0px 1px 3px rgba(000,000,000,0.3);-moz-border-radius: 3px; border-radius: 3px;margin:0; }
section header.user .reputation img, section.header.user .reputation figcaption { display:block; }
section header.user .reputation figcaption .progress { width:110px; margin:4px; }
section header.user .reputation img { -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.1); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.1); box-shadow:	0px 1px 3px rgba(000,000,000,0.1); }

section header.list .listicon { display:inline-block; padding:3px;  text-align:center; }
section header.list .listicon a.button { display:block; margin-top:10px; margin-left:12px; }
section header.list .listicon a.button.deletelist { margin-left:0; }
section header.list .listicon img { background:#fff; padding:2px; border:1px solid #bbb; display:block;-moz-border-radius: 3px;	border-radius: 3px;}
section header.list .body { display:inline-block; vertical-align:top; margin:0 0 0 10px; width:650px;}
section header.list .body .title { display:inline-block; width:470px;word-wrap: break-word; }
section header.list .body h1 { color:#333; margin:0 0 10px 0; display:block;  }
section header.list div.editable:hover { background:none; color:#77961D; }
section header.list div.editable .inlineform:hover { background:none; }
section header.list div.edit_title .inlineform input { color:#77961D;}

section header.searchsummary small { margin:0; }

section header.specie .summary { display:block; line-height:1.5em; margin-bottom:10px;}
section header.specie .summary h1 { display:block; margin-bottom:10px; }
section header.specie .summary figure { margin:0 20px 0 0;  }
section header.specie nav.primary { margin:10px 0 -21px 0; }

section header.forum { border:none; background:#94b421; background-image: -o-linear-gradient(top, #bdde28, #7b9d1e); background: -moz-linear-gradient(top,#bdde28 0%,#94b421 50%,#7b9d1e);background: -webkit-gradient(linear, left top, left bottom, from(#bdde28),color-stop(0.50, #94b421),to(#7b9d1e));}
section header.forum h1 { text-shadow:0px 1px 3px rgba(0,0,0,.4); color:#fff;}
section header.forum figure { display:inline-block; }
section header.forum figure a { float:left; }
section header.forum figure img { background:#fff; padding:3px; border:1px solid #ccc; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.3);-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.3);box-shadow:	0px 1px 3px rgba(000,000,000,0.3); -moz-border-radius: 3px; border-radius: 3px; }
section header.forum figcaption { display:inline; vertical-align:top; margin-left:10px; float:left; width:400px;}

section header.specie figure { display:inline-block; margin-right:10px;}
section header.specie h1 { display:inline-block; vertical-align:top;}

#frmForumTopic { margin-top:10px; }
#frmForumTopic label { color:#fff;text-shadow:0px 1px 3px rgba(0,0,0,.4); }
#frmForumTopic label.error { color:#fff;text-shadow:none;}
#frmForumTopic input, #frmForumTopic textarea { background:#fff; }
#newtopic, #subscribe, #unsubscribe { background:#fff;border:0;-moz-box-shadow:1px 1px 5px #caf229;  -webkit-box-shadow:1px 1px 5px #caf229;box-shadow:1px 1px 5px #caf229;}
#subscribe { color:#77961D;}
#unsubscribe { color:red;}
#newtopic:hover, #subscribe:hover, #unsubscribe:hover { background:#fff; border:0;-moz-box-shadow:1px 1px 20px #caf229;  -webkit-box-shadow:1px 1px 20px #caf229;box-shadow:1px 1px 20px #caf229;}

section.header + section.navigator { margin-top:-15px; }
section header nav.primary { background:none; border:0; margin:30px 0 -21px 0; }
section header section.navigator nav.primary li  a { background:#e5e5e5; border-bottom:1px solid #ddd; }
section header section.navigator nav.primary li  a.active { background:#fff; border-bottom:1px solid #fff; }

section.message { background:#444; background: rgba(68, 68, 68, 0.95); display:none; width:100%; position: absolute; top:0%; width:960px; -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px;border-bottom-left-radius:3px;border-bottom-right-radius:3px; }
section.message span { cursor:pointer; display:block; padding:10px; vertical-align:middle; }
section.message span figure { display:inline-block; width:45px; height:30px; }
section.message span figure { background:#fff; border:1px solid #aaa; -moz-border-radius: 3px; border-radius: 3px; }
section.message span.error { color:#f00; }
section.message span.success { color:#7C9C1F; }
section.message span.info { color:#333; }
section.message span img {vertical-align:middle; margin-right:5px; display:inline-block; }
section.message span summary, section.message span mark { background:#fff; border:1px solid #ccc; display:inline-block; font-weight:bold; height:18px; padding:7px 10px 3px 10px; -moz-border-radius: 3px; vertical-align:middle; border-radius: 3px; }
section.message span mark { color:#fff; margin-left:5px; }
section.message span mark.up { background:#85A921; border:1px solid #B8D233; }
section.message span mark.down { background:#971616; border:1px solid #f00; }

section.error { color:#f00; }
section.error span { display:block; padding:5px; vertical-align:middle; }
section.error span figure { display:inline-block;  vertical-align:top; border:1px solid #ccc;-moz-border-radius: 3px; border-radius: 3px; width:45px; height:30px; }
section.error span img { vertical-align:middle; margin-right:5px; display:inline-block; }
section.error span summary p { background:#fff; border:1px solid #ccc; display:inline-block; font-weight:bold; padding:7px 10px 3px 10px; -moz-border-radius: 3px; border-radius: 3px; vertical-align:top; width:500px; word-wrap: break-word; }

section.river { width:100%; margin:-5px 0 10px 0; }
section.river li { display:block; border-bottom:1px solid #eee; padding:15px 10px; color:#333;background:#fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7');background: -moz-linear-gradient(top,#fff 0%,#fff 75%,#f7f7f7);background: -webkit-gradient(linear, left top, left bottom, from(#fff),color-stop(0.75, #fff),to(#f7f7f7));}
section.river span figure { display:inline-block; vertical-align:top; width:70px; }
section.river span figure.user { width:50px; }
section.river span figure.context, section.river a.user { float:right;max-width:150px; }
section.river span figure img { display:block; }
section.river span figure a { display:inline-block; padding:2px; border:1px solid #ccc; -moz-border-radius: 3px; border-radius: 3px;-moz-box-shadow:1px 1px 2px rgba(000,000,000,0.2); -webkit-box-shadow:1px 1px 2px rgba(000,000,000,0.2); box-shadow:1px 1px 2px rgba(000,000,000,0.2); }
section.river span figure a:hover { border:1px solid #bbb;-moz-box-shadow:1px 1px 8px rgba(000,000,000,0.4); -webkit-box-shadow:1px 1px 8px rgba(000,000,000,0.4); box-shadow:1px 1px 8px rgba(000,000,000,0.4);}
section.river span summary { display:inline-block; vertical-align:middle;   }
section.river span summary em { display:block; width:380px;word-wrap: break-word; margin-bottom:2px; }
section.river.taghistory span summary em { width:250px;  }
section.river span summary h2 { margin-bottom:0; }
section.river span summary h2 a { color:#333; text-decoration:none; font-size:12px; }
section.river span summary h2 a:hover { color: #0063e2; }
section.river span strong.karma { font-weight:bold; }
section.river span strong.karma.up { color:#85A921; }
section.river span strong.karma.down { color:#971616; }

aside section.river { width:100%; margin-top:-5px; font-size:11px; }
aside section.river li { padding:10px 10px 10px 0px; }
aside section.river span figure { display:inline-block; vertical-align:top; width:50px; }
aside section.river span summary em { display:block; width:180px;word-wrap: break-word; margin-bottom:2px; }
aside section.river span summary em a { color:#333; text-decoration:none; border-bottom:2px dotted #ccc; }
aside section.river span summary em a:hover { color:#333; border-bottom:0; }

section.navigator { display:block; width:100%; margin-bottom:10px; clear:both; }
section.navigator + section.navigator { margin-top:-10px; }

section.navigator nav.primary ul { border-bottom:1px solid #ccc; height:30px; margin-bottom:0; }
section.navigator nav.primary li { display:inline-block; margin:0 5px 0 0; }
section.navigator nav.primary li a { background:#f7f7f7; background: -moz-linear-gradient(top,#f7f7f7 0%,#f7f7f7 75%,#eee);background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),color-stop(0.75, #f7f7f7),to(#eee)); border:1px solid #ccc; border-bottom:0; color:#666; display:inline-block; text-decoration:none; padding:7px 20px; -moz-border-radius-topleft:23px; -moz-border-radius-topright:3px;border-top-left-radius:23px;border-top-right-radius:3px; font-size:12px; -moz-box-shadow: inset 1px 1px 0 #f7f7f7, inset 2px 2px 1px rgba(0,0,0,0.05);-webkit-box-shadow: inset 1px 1px 0 #f7f7f7, inset 2px 2px 1px rgba(0,0,0,0.05);box-shadow: inset 1px 1px 0 #f7f7f7, inset 2px 2px 1px rgba(0,0,0,0.05);}
section.navigator nav.primary li a:hover { background:#eee; border:1px solid #ccc; color:#666; }
section.navigator nav.primary li a.active { background:#fff; background:#fff;border:1px solid #ccc; border-bottom:1px solid #fff; color:#333; cursor:default;}
section.navigator nav.primary li a img { padding-bottom:1px; vertical-align:middle; }

section.navigator nav.primary li.rss { margin:0; float:right; }
section.navigator nav.primary li a.rss { padding:0;border:0; background:none; -moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}

section.navigator nav.secondary ul { border-bottom:1px dotted #ccc; display:block; background:#fff; }
section.navigator nav.secondary ul li { display:inline-block; padding:7px 5px 5px 5px; }
section.navigator nav.secondary ul li a { display:inline-block; font-size:11px; padding:4px 5px; text-decoration:none; -moz-border-radius: 3px; border-radius: 3px; }
section.navigator nav.secondary ul li a:hover { background:#91BD09; color:#fff; }
section.navigator nav.secondary ul li a.active { color:#333; cursor:default; font-weight:bold;}
section.navigator nav.secondary ul li a.active:hover { background:#fff; }

section.navigator.dynamic { width:245px; }
section.navigator.dynamic.tagswidget { width:560px;}
section.navigator.dynamic.homepage { width:560px; margin-bottom:20px; margin-top:5px;}
section.navigator.dynamic.forum { width:350px; }

section.navigator.dynamic nav.primary li a.active {-moz-box-shadow: inset 0 0 0 #fff; -webkit-box-shadow: inset 0 0 0 #fff;box-shadow: inset 0 0 0 #fff;font-weight:bold; }
section.navigator .tabcontent { padding:10px; border:1px solid #ccc; border-top:0; -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px;border-botom-left-radius:3px;border-bottom-right-radius:3px; }
section.navigator.dynamic .tabcontent header { background:#fff; border:0;color:#666; font-size:11px; display:inline-block; padding:5px 12px 0 0; margin-bottom:15px; }
section.navigator.dynamic.homepage .tabcontent { border:0;padding:10px 0 0 0;}
section.navigator.dynamic.tagswidget .tabcontent,section.navigator.dynamic.forum .tabcontent { border:0;}
section.navigator .tabcontent table { margin:0; }
section.navigator.dynamic .tabcontent .river { width:320px;}

section.classes ol { background:url(../img/bg_fc.gif) repeat-y 85px; }
section.classes li { display:block; margin-bottom:15px;}
section.classes li a { background:#91BD09 url(../img/bg_skin.png); border:1px solid #87A921; color:#fff; display:block; text-decoration:none; width:200px; border-radius: 0px;-moz-border-radius: 0px;	border-radius: 0px; -moz-border-radius-topleft:23px; -moz-border-radius-bottomright:23px;border-top-left-radius:23px;border-bottom-right-radius:23px;-moz-box-shadow:0px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 10px rgba(255,255,255,0.5);-webkit-box-shadow:0px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 10px rgba(255,255,255,0.5);	box-shadow:	0px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 10px rgba(255,255,255,0.5);}
section.classes li a img { background:#fff; padding:2px; border:1px solid #91BD09; -moz-border-radius: 3px; border-radius: 3px; vertical-align:middle; margin-left:15px; -moz-box-shadow:3px 3px 3px rgba(000,000,000,0.1); -webkit-box-shadow:3px 3px 3px rgba(000,000,000,0.1); box-shadow:	3px 3px 3px rgba(000,000,000,0.1);}
section.classes li a span { display:inline-block; vertical-align:middle; padding:10px;}
section.classes li a span em { display:block; font-weight:bold; }
section.classes li a span small {color:#D0E628; font-weight:bold; }
section.classes li a:hover, section.classes li a.active { background:#87A921 url(../img/bg_skin.png); border:1px solid #87A921; }
section.classes li a.yours { background:#900 url(../img/bg_skin.png); border:1px solid #900;}
section.classes li a.yours img { border:1px solid #900;}
section.classes li a.yours span small { color: #f99;}

section.class { padding:3px; border:1px solid #ccc; display:inline-block; margin:10px 0; -moz-border-radius: 3px; border-radius: 3px; width:400px;}
section.class figure, section.class figure img { display:block; }
section.class table { width:100%; margin-bottom:0; }
section.class table td, section.class table th { padding:5px; }
section.class li { list-style-type:square; margin-left:15px; }

.progress span.step1 { background: url(/media/images/sprite_004.png) 0 -479px;   }
.progress span.step2 { background: url(/media/images/sprite_004.png) 0 -495px; }
.progress span.step3 { background: url(/media/images/sprite_004.png) 0 -511px; }
.progress span.step4 { background: url(/media/images/sprite_004.png) 0 -527px; }

section.comments { display:block; width:100%; margin-bottom:10px; }
section.comments li.thread { padding-left:5%; width:95%; margin-bottom:10px;}
section.comments li.comment { margin:0 0 20px 0; clear:both; float:left; border:1px solid #ccc; width:100%; overflow:hidden; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius:5px;border-bottom-right-radius:5px; }
section.comments li.comment .header { background:#f7f7f7; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f7f7f7');background: -moz-linear-gradient(top,#e5e5e5 0%,#f7f7f7);background: -webkit-gradient(linear, left top, left bottom, from(#eee),to(#f7f7f7)); border-bottom:1px dotted #bbb; display:block; padding:5px; }

section.forumcomments li.comment .header { background: url(../img/bg_skin.png); }

section.comments li.comment .header figure.user, section.comments li .header figure.class { display:inline-block; }
section.comments li.comment .header figure.user img, section.comments li .header figure.class img { background:#fff; padding:2px; border:1px solid #ccc; -moz-border-radius: 3px; border-radius: 3px;-moz-box-shadow:0px 1px 1px rgba(000,000,000,0.3); -webkit-box-shadow:0px 1px 1px rgba(000,000,000,0.3); box-shadow:	0px 1px 1px rgba(000,000,000,0.3); }
section.comments li.comment .header figure figcaption { display:inline-block; vertical-align:top; }
section.comments li.comment .header figure figcaption em a { display:block; color:#333; text-decoration:none; font-weight:bold; font-size:12px; }
section.comments li.comment .header figure a:hover { color: #0063e2; }
section.comments li.comment .header figure a:hover img { border:1px solid #333; }
section.comments li.comment .header figure.class { float:right; vertical-align:top; text-align:right; width:200px;}
section.comments li.comment .header figure.class figcaption { xfloat:left; margin:5px 10px 0 0; font-size:12px; }
section.comments li.comment .header figure.class img { float:right; }
section.comments li.comment .header figure.user img { margin-right:5px; }
section.comments li.comment .body .text { padding:7px 5px 5px 10px; float:left; xmax-width:80%; width:98%;  word-wrap: break-word;}
section.comments li.comment .body .text .treshold { display:block; font-weight:bold; }
section.comments li.comment .body .text .treshold:visited { color:#0063dc; }

section.comments li.comment .body .vote { float:right; padding:5px; line-height:8px; width:80px; text-align:right; vertical-align:top; }
section.comments li.comment .body .vote strong { font-weight:bold; display:inline-block; vertical-align:middle; line-height:18px; margin-right:3px; }
section.comments li.comment .body .vote em { width:18px; height:18px; padding:0; margin-right:3px; vertical-align:middle; }
section.comments li.comment .body .vote a { vertical-align:middle; display:inline; }
section.comments li.comment .body .vote a.disabled { cursor:default; color:#ff0; }
section.comments li.comment .body .vote a.disabled em.icon_vup { background: url(/media/images/sprite_004.png) -5px -1172px; }
section.comments li.comment .body .vote a.disabled em.icon_vdown { background: url(/media/images/sprite_004.png) -5px -1134px; }

section.comments li.comment .body .actions { margin-left:0px; display:block; clear:both; float:left; padding:0 15px 10px 15px; width:95%; }
section.comments li.comment .body .actions .replies { padding-left:12px; float:left; }
section.comments li.comment .body .actions .replies.collapse { background: url(/media/images/sprite_004.png) -5px -907px; line-height:16px; }
section.comments li.comment .body .actions .replies.collapse:hover{ background: url(/media/images/sprite_004.png) -5px -907px; no-repeat left center; color:#0063dc; text-decoration:none; }
section.comments li.comment .body .actions .replies.expand { background: url(/media/images/sprite_004.png) -5px -891px; no-repeat left center; line-height:16px; }
section.comments li.comment .body .actions .replies.expand:hover { background: url(/media/images/sprite_004.png) -5px -891px; no-repeat left center; color:#0063dc; text-decoration:none; }
section.comments li.comment .body .actions .reply { vertical-align:middle; line-height:16px; float:right; display:block; }
section.comments li.comment .body .actions .c-edit,
section.comments li.comment .body .actions .c-delete,
section.comments li.comment .body .actions .deletetopic,
section.comments li.comment .body .actions .deletereply,
section.comments li.comment .body .actions .fc-edit,
section.comments li.comment .body .actions .forumcomment-report,
section.comments li.comment .body .actions .forumtopic-report,
section.comments li.comment .body .actions .ft-edit  { vertical-align:middle; line-height:16px; float:right; display:block; margin-right:10px; }
section.comments li.comment .body .replyform { clear:both; float:right; padding-bottom:10px; position:relative; }
section.comments li.comment .body .replyform textarea { width:400px; margin:10px 20px 0 80px; display:block; }

section.comments li.comment .body .editform, section.comments li.comment .body .fceditform { clear:both; display:block; width:100%; }
section.comments li.comment .body .editform textarea, section.comments li.comment .body .fceditform textarea { width:96%; display:block; }
section.comments li.comment .body .editform button, section.comments li.comment .body .fceditform button { margin:5px 0 10px 0; }

section.comments li.comment .body button { margin-left:80px; }
section.comments li.comment .body iframe { background:#fff;margin:5px 0;margin-left:-3px; }
section.comments li.comment.collapsed { background:#ddd; }
section.comments li.comment.collapsed .replies, section.comments li.comment.collapsed .bodytext{ display:none; }

section.uploadqueue { background:#eee; border:1px solid #ccc; -moz-border-radius: 3px; border-radius: 3px; padding:10px; padding-bottom:5px; clear:both;}
section.uploadqueue li { background:#fff; border:1px solid #ccc; display:block; padding:10px; margin-bottom:5px; }
section.uploadqueue li h1 { display:inline-block; font-size:12px; margin:0 20px 0 5px; width:130px; word-wrap: break-word; }
section.uploadqueue li .progress { width:400px; margin:0 10px 0 0;}
section.uploadqueue li em { display:inline-block; vertical-align:middle; width:120px; }
section.uploadqueue li a { display:inline-block; vertical-align:middle; line-height:23px; margin:4px 3px 0 0; }
section.uploadquota { background:#f7f7f7; padding:10px; border:1px solid #ccc; -moz-border-radius: 3px; border-radius: 3px; margin-bottom:15px; }
section.uploadquota em { display:block; margin-bottom:5px; }
section.spinner { background:#f7f7f7; border:1px solid #ccc; display:inline-block; padding:10px; width:290px; -moz-border-radius: 3px; border-radius: 3px; margin-bottom:10px; }
section.spinner img { display:block; margin-bottom:5px; }

section.history { } 
section.history li { border:1px solid #ccc; clear:both;display:block; margin-bottom:20px; }
section.history li .header { border-bottom:1px dotted #ccc; padding:8px; }
section.history li .header figure { display:inline-block; vertical-align:middle; margin-right:10px;  }
section.history li .header img { background:#fff; padding:2px; border:1px solid #ccc; -moz-border-radius: 3px; border-radius: 3px; }
section.history li .header a:hover img { border:1px solid #333; }
section.history li .header .action { display:inline-block; vertical-align:middle; }
section.history li .header .action em { display:block; }
section.history li .header .version { display:inline-block; float:right; vertical-align:middle; }
section.history li .body { background:#f7f7f7; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f7f7f7');background: -moz-linear-gradient(top,#e5e5e5 0%,#f7f7f7);background: -webkit-gradient(linear, left top, left bottom, from(#eee),to(#f7f7f7)); padding:8px; }
section.history li .body strong { display:block; font-weight:bold; }

section.actions { margin:3px 0 10px 0; }
section.actions li { display:inline-block; margin-right:3px; }
section.actions li a { display:inline-block; height: 27px; width:74px; }
section.actions li a.addtofav { background: transparent url(/media/images/sprite_004.png) 0 0px no-repeat; }
section.actions li a.addtofav-d { background: transparent url(/media/images/sprite_004.png) 0 -56px no-repeat; }
section.actions li a.addtofav:hover { background: transparent url(/media/images/sprite_004.png) 0 -28px no-repeat; }

section.actions li a.addtolist { background: transparent url(/media/images/sprite_004.png) 0 -84px no-repeat; }
section.actions li a.addtolist:hover { background: transparent url(/media/images/sprite_004.png) 0 -113px no-repeat; }

section.actions li a.viewsizes { background: transparent url(/media/images/sprite_004.png) 0 -197px no-repeat; }
section.actions li a.viewsizes:hover { background: transparent url(/media/images/sprite_004.png) 0 -225px no-repeat; }
section.actions li a.editdetails { background: transparent url(/media/images/sprite_004.png) 0 -253px no-repeat; }
section.actions li a.editdetails:hover { background: transparent url(/media/images/sprite_004.png) 0 -281px no-repeat; }

section.actions li a.editlicense { background: transparent url(/media/images/sprite_004.png) -112px -253px no-repeat; }
section.actions li a.editlicense:hover { background: transparent url(/media/images/sprite_004.png) -112px -281px no-repeat; }

section.actions li a.delete { background: transparent url(/media/images/sprite_004.png) 0 -309px no-repeat; }
section.actions li a.delete:hover { background: transparent url(/media/images/sprite_004.png) 0 -337px no-repeat; }
section.actions li a.viewhistory { background: transparent url(/media/images/sprite_004.png) 0 -365px no-repeat; }
section.actions li a.viewhistory:hover { background: transparent url(/media/images/sprite_004.png) 0 -393px no-repeat; }

section.context { margin-bottom:30px; }
section.context .title {  
background: #5c5c5c;
text-shadow: 0 1px rgba(0,0,0,.8);
background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
padding:10px 0 10px 10px;
}

section.context .title h2 { color:#fff;margin-bottom:0;  }
section.context .body { background: url(../img/bg_skin.png); padding:10px; line-height:1.3em;}
section.context .footer { display:block;text-align:center; font-size:24px;}
section.context hr { padding: 0; border: none; border-top: 1px solid #ccc; color: #666; text-align: center; margin:10px 0; font-size:16px;}
section.context .status { background:#ddd url(../img/bg_skin.png); margin:10px -10px 15px -10px;box-shadow:0px 3px 3px rgba(000,000,000,0.2); clear:both;}
section.context .status em { display:inline-block; float:right; font-size:11px; width:36%; text-shadow: 0 1px rgba(255,255,255,.5); font-style:italic; padding:3px 3px 0 0px; }

section.context .iucn { display:inline-block;text-align:center; padding:5px 10px;margin:0;
background: -moz-linear-gradient(left, black,grey,darkred, red,orange, yellow, green);
background: -webkit-linear-gradient(left, black,grey,darkred, red,orange, yellow, green);
background: -o-linear-gradient(left, black,grey,darkred, red,orange, yellow, green);
background: -ms-linear-gradient(left, black,grey,darkred, red,orange, yellow, green);
background: linear-gradient(left, black,grey,darkred, red,orange, yellow, green);
}

section.context .iucn li { display:inline-block; padding:5px ; font-size:11px;background:#bbb; background:rgba(255,255,255,.5); color:#333; border-radius:15px;text-shadow: 0 1px rgba(255,255,255,.5); }
section.context .iucn li.active { background:#fff; text-shadow: 0 1px rgba(0,0,0,.2); border:1px solid #666; }
section.context .rangemap { display:block; max-width:100%; margin-bottom:10px; -moz-box-shadow:3px 3px 3px rgba(000,000,000,0.1); -webkit-box-shadow:3px 3px 3px rgba(000,000,000,0.1); box-shadow:3px 3px 3px rgba(000,000,000,0.1); }

.speciecontent { display:block;margin-bottom:35px; line-height:1.5em; clear:both;}
.speciecontent h2 { margin-bottom:15px; border-bottom:1px dotted #ddd; font-size:16px;padding:10px 0 5px 0; font-style:italic; color:#666;}
.speciecontent h2 a { color:#bbb; font-size:11px; font-style:normal; text-decoration:none; float:right;}

figure.photo a { position:relative; display:inline-block; text-decoration:none; }
figure.photo a img { display:block;background:#fff; display:inline-block; padding:4px; border:1px solid #ccc; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow:3px 3px 3px rgba(000,000,000,0.1); -webkit-box-shadow:3px 3px 3px rgba(000,000,000,0.1); box-shadow:	3px 3px 3px rgba(000,000,000,0.1);}
figure.photo a:hover img { border:1px solid #bbb; -moz-box-shadow:3px 3px 16px rgba(000,000,000,0.2); -webkit-box-shadow:3px 3px 16px rgba(000,000,000,0.2); box-shadow:3px 3px 16px rgba(000,000,000,0.2); }
figure.photo a em.glare { background: url(../img/glare.png) no-repeat; display:inline-block; position:absolute; top:5px; left:5px; width:41px; height:40px; }
figure.photo a.current { opacity:.5; }
figure.photo a span { background: url(../img/cancel.png);position:absolute; right:-5px; top:-5px; font-weight:bold; width:16px; height:16px;-moz-box-shadow:3px 3px 3px rgba(000,000,000,0.1); -webkit-box-shadow:3px 3px 3px rgba(000,000,000,0.1); box-shadow:3px 3px 3px rgba(000,000,000,0.1);}
figure.captcha img { border:1px solid #ccc; padding:3px; -moz-border-radius: 3px; border-radius: 3px; }
figure.photo.inline { float:left; padding:0; margin:0; }
figure.photo.inline.left { float:left; margin:0 20px 0 0;}
figure.photo.inline.right { float:right; margin:0 0 0 20px; }

figure.mainphoto a.vote { display:inline-block; }
figure.mainphoto figcaption + a { border:0; padding:0; display:block; }
figure.mainphoto figcaption + a img { display:block; -moz-border-radius: 3px; border-radius: 3px; }
figure.mainphoto figcaption { display:inline-block; margin:0 0 10px 0; width:460px;word-wrap: break-word; margin:5px 0 5px 0;}

.photoattr { text-align:center; }
.photoattr li { display:inline-block; background:none; color:#666; padding:2px 4px; margin-right:1px; font-size:11px;-moz-border-radius: 3px; border-radius: 3px;font-style:italic;text-shadow:0px 1px 1px rgba(255,255,255,1);}

.searchresults { display:block; border-top:1px solid #eee; }
.searchresults > li {display:block; padding:15px 0; border-bottom:1px solid #eee;}
.searchresults > li:last-child {border-bottom:none;}
.searchresults li figure span.image { display:inline-block;min-width:110px; text-align:center;}
.searchresults li figcaption {display:inline-block;vertical-align:top; padding-left:10px; width:730px;}
.searchresults li figcaption h1 {margin-bottom:3px;}
.searchresults a { text-decoration:none; }
.searchresults a h1 { color: #0063e2; font-size:14px;text-decoration:underline;margin-bottom:3px;}
.searchresults a:hover h1 {color: #0063e2; text-decoration:none;}
.searchresults p + small {display:block;margin-top:-8px;}
.searchresults section.tags + p { margin-top:-8px; }
.searchresults section.lists, .searchresults section.lists li { margin:0; }
.searchresults .user {margin-bottom:5px; }
.searchresults + a.more { margin-top:10px; }

.sprite.license { display:block; vertical-align:middle; width:88px; height:31px; }
.sprite.license.lic_c { background: url(/media/images/sprite_004.png) 0 -545px; }
.sprite.license.lic_cc-by { background: url(/media/images/sprite_004.png) 0 -577px; }
.sprite.license.lic_cc-by-nc { background: url(/media/images/sprite_004.png) 0 -608px; }
.sprite.license.lic_cc-by-nc-nd { background: url(/media/images/sprite_004.png) 0 -639px; }
.sprite.license.lic_cc-by-nc-sa { background: url(/media/images/sprite_004.png) 0 -670px; }
.sprite.license.lic_cc-by-nd { background: url(/media/images/sprite_004.png) 0 -701px; }
.sprite.license.lic_cc-by-sa { background: url(/media/images/sprite_004.png) 0 -732px; }
.sprite.license.lic_pd { background: url(/media/images/sprite_004.png) 0 -763px; }
.sprite.lic { display:inline-block; vertical-align:middle; width:24px; height:24px; margin-right:3px; }
.sprite.lic.lic_c { background: url(/media/images/sprite_004.png) -3px -795px; }
.sprite.lic.lic_cc { background: url(/media/images/sprite_004.png) -3px -820px; }
.sprite.lic.lic_pd { background: url(/media/images/sprite_004.png) -3px -846px; }
.sprite.icon { display:inline-block; vertical-align:middle; width:16px; height:16px; }
.sprite.icon.icon_back { background: url(/media/images/sprite_004.png) -5px -874px; }
.sprite.icon.icon_download { background: url(/media/images/sprite_004.png) -5px -925px; }
.sprite.icon.icon_follow { background: url(/media/images/sprite_004.png) -5px -942px; }
.sprite.icon.icon_unfollow { background: url(/media/images/sprite_004.png) -5px -959px; }
.sprite.icon.icon_report { background: url(/media/images/sprite_004.png) -5px -976px; }
.sprite.icon.icon_lc_class { background: url(/media/images/sprite_004.png) -5px -993px; }
.sprite.icon.icon_lc_karma { background: url(/media/images/sprite_004.png) -5px -1010px; }
.sprite.icon.icon_lc_followers { background: url(/media/images/sprite_004.png) -5px -1027px; }
.sprite.icon.icon_lc_reports { background: url(/media/images/sprite_004.png) -5px -1044px; }
.sprite.icon.icon_lc_influence { background: url(/media/images/sprite_004.png) -5px -1061px; }
.sprite.icon.icon_lc_defense { background: url(/media/images/sprite_004.png) -5px -1078px; }
.sprite.icon.icon_lc_powers { background: url(/media/images/sprite_004.png) -5px -1095px; }
.sprite.vote { display:inline-block; vertical-align:middle; width:18px; height:18px; }
.sprite.vote.icon_vup { background: url(/media/images/sprite_004.png) -5px -1153px; }
.sprite.vote.icon_vup_disabled { background: url(/media/images/sprite_004.png) -5px -1172px; }
.sprite.vote.icon_vdown { background: url(/media/images/sprite_004.png) -5px -1115px; }
.sprite.vote.icon_vdown_disabled { background: url(/media/images/sprite_004.png) -5px -1134px; }
.sprite.avatar { display:inline-block; vertical-align:middle; width:45; height:30px; }
.sprite.avatar.avatar_error { background: url(/media/images/sprite_004.png) -5px -1194px; }
.sprite.avatar.avatar_info { background: url(/media/images/sprite_004.png) -5px -1224px; }
.sprite.avatar.avatar_success { background: url(/media/images/sprite_004.png) -5px -1254px; }
.sprite.avatar.avatar_login { background: url(/media/images/sprite_004.png) -5px -1284px; }
.sprite.social { display:inline-block; vertical-align:middle; width:25px; height:25px; }
.sprite.social.social_fb { background: url(/media/images/sprite_004.png) -5px -1316px; }
.sprite.social.social_tw { background: url(/media/images/sprite_004.png) -5px -1343px; }
.sprite.social.social_yt { background: url(/media/images/sprite_004.png) -36px -1343px; width:50px; }
.sprite.social.social_jd { background: url(/media/images/sprite_004.png) -5px -1370px; }
.sprite.social.social_gp { background: url(/media/images/sprite_004.png) -36px -1316px; }
.sprite.social.social_gl { background: url(/media/images/sprite_004.png) -36px -1370px; }
.sprite.misc.icon_deleted { background: url(/media/images/sprite_004.png) -4px -1395px; width:45px; padding:2px; height:30px; border:1px solid #ccc;-moz-border-radius: 3px; border-radius: 3px;-moz-box-shadow:1px 1px 2px rgba(000,000,000,0.2); -webkit-box-shadow:1px 1px 2px rgba(000,000,000,0.2); box-shadow:1px 1px 2px rgba(000,000,000,0.2);}
.sprite.misc.icon_rss { background: url(/media/images/sprite_004.png) -4px -1430px; height:34px; width:30px; display:inline-block; vertical-align:middle;}
.sprite.misc.icon_rss:hover { background: url(/media/images/sprite_004.png) -4px -1463px;}
.sprite.misc.icon_slideshow { background: url(/media/images/sprite_004.png) -10px -1499px; display:inline-block; width:20px; height:18px;vertical-align:middle; }

section.photos li { display:inline-block; }
section.photos.large { margin-top:5px; }
section.photos.large li { width:33%; vertical-align:top; margin-bottom:15px; }
section.photos.large li figure.photo figcaption a { word-wrap: break-word; max-width:250px; }

section.photos.aside { width:100%; }
section.photos.aside li { width:30%; vertical-align:top; margin-right:10px;  }

section.photos.context { width:100%; margin:15px 0 0 0; }
section.photos.context li { width:31%; vertical-align:top; margin-right:5px;  }

section.photos.homepage { margin-bottom:20px; }
section.photos.homepage li { width:135px; vertical-align:top; margin-bottom:5px;}
section.photos.homepage li img { padding:3px; }

section.photos.profile { margin-bottom:20px; }
section.photos.profile li { width:135px; vertical-align:top; margin-bottom:5px; }
section.photos.profile li img { padding:3px; }
section.photos.profile .photo { height:90px; }
section.photos.profile li p { font-size:11px; margin:0; }
section.photos.profile li p em { background:transparent; padding:2px 0 2px 18px; }
section.photos.profile li p em.comment { background: url(/media/images/sprite_004.png) -5px -1666px; }
section.photos.profile li p em.comment.hl { background: url(/media/images/sprite_004.png) -5px -1682px; }
section.photos.profile li p em.votes { background: url(/media/images/sprite_004.png) -5px -1699px; }
section.photos.profile li p em.votes.hl { background: url(/media/images/sprite_004.png) -5px -1716px; }

section.photos figure.photo figcaption { display:block; margin:0 0 0 0; width:80%; }
section.photos figure.photo figcaption h2 a { border:0; color:#333; text-decoration:none;  }
section.photos figure.photo figcaption h2 a:hover { color: #0063e2; }
section.photos figure.photo p { font-size:11px; word-wrap: break-word; max-width:250px; margin-bottom:3px; }

section.tags header ul { max-width:650px; }
section.tags header li { display:inline-block; margin:0; vertical-align:middle; margin-bottom:5px;}
section.tags header li h1 { margin-bottom:0; display:inline-block; }
section.tags header li h1 a { font-size:16px; max-width:500px; margin-bottom:2px;}
section.tags ul { display:inline-block; vertical-align:top;}
section.tags li { display:inline-block; margin:0 5px 10px 0; vertical-align:top;}
section.tags li a { background:#91BD09 url(../img/bg_skin.png); border:1px solid #87A921; color:#fff; display:inline-block; padding:5px 10px; font-weight:bold; text-decoration:none; max-width:300px; word-wrap: break-word;border-radius: 0px;-moz-border-radius: 0px; border-radius: 0px;-moz-box-shadow:0px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 6px rgba(255,255,255,0.5);	-webkit-box-shadow:0px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 6px rgba(255,255,255,0.5);box-shadow:0px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 6px rgba(255,255,255,0.5); -moz-border-radius-topleft:23px; -moz-border-radius-bottomright:23px;border-top-left-radius:23px;border-bottom-right-radius:23px;}
section.tags li a.related { background:#ccc; background: -moz-linear-gradient(top,#bbb 0%,#ccc);background: -webkit-gradient(linear, left top, left bottom, from(#bbb),to(#ccc));border:1px solid #ddd; color:#fff;-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.5); box-shadow:0px 1px 3px rgba(000,000,000,0.5);}
section.tags li a.related:hover { background:#bbb; background: -moz-linear-gradient(top,#aaa 0%,#bbb);background: -webkit-gradient(linear, left top, left bottom, from(#aaa),to(#bbb));border:1px solid #ccc; color:#fff;}
section.tags li a.related em { color:#999; }
section.tags li a:hover { background:#87A921 url(../img/bg_skin.png); border:1px solid #87A921; }
section.tags li a em { color:#D0E628; font-weight:bold; margin-right:3px; padding-right:2px; }
section.tags li a mark { color:#D0E628; }
section.tags.overview { margin-top:10px; }
section.tags.overview li { min-width:180px; margin-bottom:15px; }
section.tags.overview li a { max-width:160px; word-wrap: break-word; vertical-align:top; }

section.attributes { margin-bottom:-20px;} 
section.attributes ul { display:inline-block; vertical-align:top; }
section.attributes li { display:inline-block; margin:0 5px 10px 0; vertical-align:top;}
section.attributes { display:inline-block; margin:0 5px 10px 0; vertical-align:top;}
section.attributes a { background:#fff ; border:1px solid #ccc; font-weight:bold;line-height:16px;cursor:pointer; display:inline-block; text-decoration:none; vertical-align:middle; -moz-border-radius: 5px;border-radius: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;xcolor: #fff;padding: 4px 5px;-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.3),inset 0px 0px 4px rgba(255,255,255,0.8); -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.3),inset 0px 0px 4px rgba(255,255,255,0.8); box-shadow: 0px 1px 3px rgba(000,000,000,0.3), inset 0px 0px 4px rgba(255,255,255,0.8); margin-right:5px; }
section.attributes li a:hover { background:#f7f7f7; }

section.users { margin-bottom:20px; }
section.users li { display:inline-block; margin:0 5px 5px 0; }
section.users li a { vertical-align:top; }
section.users.overview { margin-top:10px; }
section.users.overview li { min-width:180px; margin-bottom:10px; }
section.users.overview li a { max-width:160px; word-wrap: break-word; }
section.users.overview li a em { max-width:120px; word-wrap: break-word; }
section.users.list li { display:block; margin-bottom:10px; }

section.lists li { background:#eee; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff'); background: -moz-linear-gradient(left,#eee 0%,#fff); background: -webkit-gradient(linear, left, from(#eee),to(#fff));display:block; padding:5px; margin-bottom:15px; -moz-border-radius: 3px; border-radius: 3px;color: #333; border: 1px solid #ddd;-webkit-box-shadow:0px 1px 2px rgba(000,000,000,0.3); box-shadow:0px 1px 2px rgba(000,000,000,0.3);}
section.lists .body { display:inline-block; margin-left:5px;vertical-align:top;  }
section.lists.homepage .body { width:240px; word-wrap: break-word;}
section.lists li figure { display:inline-block; }
section.lists li figure a:hover img { border:1px solid #bbb;-moz-box-shadow:1px 1px 4px rgba(000,000,000,0.3); -webkit-box-shadow:1px 1px 4px rgba(000,000,000,0.3); box-shadow:1px 1px 4px rgba(000,000,000,0.3); }
section.lists li img { background:#fff;padding:2px; border:1px solid #bbb; display:inline-block;-moz-border-radius: 3px; border-radius: 3px; }
section.lists li a { color:#333; display:block; font-size:12px; font-weight:bold;text-decoration:none;}
section.lists li a:hover { text-decoration:underline; }
section.lists a.button { display:inline-block; padding:2px; margin-top:5px; float:right;}
section.lists li p { padding:3px 3px 6px 3px; }
section.lists li p a { display:inline; font-weight:normal; text-decoration:underline; }
section.lists li p a:hover { text-decoration:none; }

.comment section.lists li { xborder:2px solid #ddd; max-width:300px;-moz-border-radius:5px; border-radius:5px; }

section.tree li a { color:#666; text-decoration:none; padding:2px; border-bottom:2px solid #fff; }
section.tree li a:hover { border-bottom:2px dotted #ccc;}
section.tree li a.currentpage { font-weight:bold; border-bottom:2px dotted #ccc; }

table.forums { width:100%; margin-bottom:30px; border:1px solid #bbb; -moz-box-shadow:1px 1px 4px rgba(000,000,000,0.3); -webkit-box-shadow:1px 1px 4px rgba(000,000,000,0.3); box-shadow:1px 1px 4px rgba(000,000,000,0.2);}
table.forums th h2 { margin-bottom:0;text-shadow:0px 1px 3px rgba(0,0,0,.4); color:#fff;}
table.forums th { padding:8px;background: #77961d;background: url(../img/bg_header.png)0px -100px repeat-x; text-shadow:0px 1px 3px rgba(0,0,0,.4); color:#fff;}
table.forums td { border:1px 0 0 0  solid #bbb; padding: 5px;}
table.forums td p { color:#666; margin-bottom:0px; }
table.forums td.icon { width:24px; }
table.forums td.icon img { background:#fff; padding:2px; border:1px solid #ccc;-moz-border-radius: 3px; border-radius: 3px;-webkit-box-shadow:0px 1px 1px rgba(000,000,000,0.3); box-shadow:0px 1px 1px rgba(000,000,000,0.3);  }
table.forums td.name a { color:#333; font-size:12px; font-weight:bold; width:150px;}
table.forums td.topics, table.forums td.views{ width:20px; text-align:center; }
table.forums td.subscribers { width:40px; text-align:center;}
table.forums td.activity { width:100px; }
table.forums td.user { width:23px; vertical-align:middle; }
table.forums td.user img { padding:1px; background: #fff; border:1px solid #ccc;-moz-border-radius: 3px; border-radius: 3px;-webkit-box-shadow:0px 1px 1px rgba(000,000,000,0.3); box-shadow:0px 1px 1px rgba(000,000,000,0.3); }
table.forums tr:nth-child(even) {background:url(../img/bg_skin.png);}
table.forums tr.sticky { background:#ff0 url(../img/bg_skin.png); }

.crumbs { margin-bottom:20px; }
.crumbs li { display:inline-block; margin-right:5px; }
.crumbs li.current { color:#666; border-bottom:1px dotted #ccc; }
.crumbs a { background:#fff ; border:1px solid #ccc; font-weight:bold;line-height:16px; color: #0063e2; padding:5px 10px; text-decoration:none; -moz-border-radius-topright:23px; -moz-border-radius-bottomright:23px;border-top-right-radius:33px;border-bottom-right-radius:33px; -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.3),inset 0px 0px 4px rgba(255,255,255,0.8); -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.3),inset 0px 0px 4px rgba(255,255,255,0.8); box-shadow: 0px 1px 3px rgba(000,000,000,0.3), inset 0px 0px 4px rgba(255,255,255,0.8);}
.crumbs a:hover { background:#f7f7f7; }
.crumbs li.rss { float:right; }
.crumbs li.rss a { border:0;padding:0;margin:0; border-radius:0;moz-box-shadow:none;box-shadow:none;}

#embedhelp { font-size:11px; }
#embedhelp th { background:#eee; }

#modal { display:none; background:#fff; position: fixed; top:10%; left: 50%; border:5px solid #ccc; padding:20px; z-index:200; -moz-border-radius:5px; border-radius:5px;  -moz-box-shadow: 0 0 19px #fff; -webkit-box-shadow: 0 0 19px #fff; box-shadow: 0 0 19px #fff; }
#modal h1 { max-width:380px; word-wrap: break-word; }
#darken { position:fixed; top:0; left:0; width:100%; height:100%; display:none; z-index:199; background:black; opacity:.7; filter:alpha(opacity=70);} 
#codeigniter_profiler span { display:inline; }
#pagination a, #pagination strong { -moz-border-radius: 3px; border-radius: 3px; background:#fff; font-weight:bold; display:inline-block; border:1px solid #ccc; padding:6px; text-decoration:none; line-height:.6; }
#pagination a:hover { background:#0063dc; color:#fff; border:1px solid #0063dc; }
#pagination strong { background:#333; color:#fff; border:1px solid #333; }

#map_canvas { width: 330px;height: 250px; border:1px solid #ccc; margin-bottom:10px; } 
#map_canvas_xl { width: 958px; height: 550px; margin-bottom:10px; } 

#slider-wrapper { width:540px; height:360px; padding:10px; border:1px solid #ddd; margin-left:1px; -moz-border-radius: 10px; border-radius: 10px; -moz-box-shadow:0px 1px 5px rgba(000,000,000,.1); -webkit-box-shadow:0px 1px 5px rgba(000,000,000,.1); box-shadow:0px 1px 10px rgba(000,000,000,0.1); position:relative;margin-bottom:45px;}
.nivoSlider {position:relative; }
.nivoSlider img {position:absolute;	top:0px;left:0px; display:none;}
.nivoSlider a.nivo-imageLink {	position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none;}
.nivo-slice {display:block;position:absolute;z-index:50;height:100%;}
.nivo-controlNav {position:absolute;left:0px;bottom:-40px;}
.nivo-controlNav a {display:block;width:22px;height:22px;background:url(../img/bullets.png) no-repeat;text-indent:-9999px;border:0;	margin-right:3px;float:left;}
.nivo-controlNav a.active {	background-position:0 -22px;}
.nivo-caption {position:absolute;left:0px;bottom:0px;background:#000;color:#fff;opacity:0.6; width:100%;z-index:89;}
.nivo-caption p {padding:5px;margin:0;}
.nivo-caption a {display:inline !important;}

.addthis_toolbox { xdisplay:inline-block; xpadding:5px; margin-bottom:8px; }
.addthis_toolbox a { color:#333; text-decoration:none; }
.plusone { display:inline-block; width:50px;}

footer .addthis_toolbox { display:inline-block;  }
.oldbrowser { top:0; width:100%; margin:0 auto;text-align:center;font-size:14px; background:orange; color:#fff; font-weight:bold; padding:5px 0; }
.unclassified { background:#c00; xborder:1px solid #333; color:#eee; display:block; padding:5px;margin-bottom:10px; -moz-border-radius: 3px; border-radius: 3px;}
.unclassified a { color:#fff; float:right;text-decoration:underline; font-weight:bold;!important }

.clearfix:after { content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }