
/*===============================popup message==================================*/
.popup_callback{
    background: none repeat scroll 0 0 rgba(82, 82, 82, 0.7);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 3px 7px #333333;
    display: none;
    max-width: 400px;;
    min-width: 200px;
    position: fixed;
    top: 30%; left: 40%;
    z-index: 99999999;
    color: #333333;
    padding: 6px;
    text-shadow: 0 1px 0 #FFFFFF;
    margin: 0 auto;
}
.error{
    background-color: #FFEBE8;
    border-color: #CC0000;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    color: red;
    padding: 15px;
}
.success{
    border-radius: 8px;
    padding: 15px;
    background: none repeat scroll 0 0 #6D84B4;
    border-color: #3B5998 #3B5998 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #FFFFFF;
    text-align: center;
}
.f19c{
    font-size: 19px;
    text-align: center;
}
/*===============================popup message==================================*/