.friend-media-main{
    border: 5px solid darkgrey;
    padding: 5px;
    float: left;
    width: 98%
}
.friend-media-main .header-div{
    background: #6d84b4;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    width: 99%;
}
.friend-media-main .images-media-box{
    clear: both;
    margin-bottom: 15px;
    float: left;
    width: 98%;
}
.friend-media-main .friend-media-box{
    border: 1px solid #6d84b4;
    float: left;
     width: 100%;
}
.friend-media-main .friend-name{
    background: #6d84b4;
    color: #fff;
    font-size: 12px;
    padding: 4px;
}

