/*.zoom {
    border: 1px solid #000;
    display: inline-block;
    position: relative;
	margin:5px;
}

.zoom span {
    background: url(../images/zoom.png) no-repeat;
    bottom: 0;
    display: block;
    height: 25px;
    position: absolute;
    right: 0;
    width: 25px;    
}*/

img {
    height: auto;
    max-width: 100%;
}

.imageContainer{
	float:left;
	padding:5px 5px 5px 5px ;
	/*background-color:#999;*/
	border:1px solid #cccccc;
	margin:4px;
}
.imageContainer:hover{
	float:left;
	padding:5px 5px 5px 5px ;
	/*background-color:#CCC;*/
	border:1px solid #000000;
}
.imageContainer img{
	float:left;
	border:1px solid #000000;
}
.maindivborder{
	padding:40px;	
}